
.BoxLayout{
    border:1px groove;
    width:97%;
    margin-top: 1rem;
    padding: 1rem 0;
    position: relative;
}
.Select{
    text-align: center;
}
.gray{
    color: #5a5757;
    font-weight: bold;
}
.Selectmargin{
    width: 56% ;
    margin: 1rem;
}
/* .label{
    margin-left: 6rem 0;
}
@media screen and (max-width: 480px) {
    .label {
    }
}
@media screen and (max-width: 978px) {
    .label {
    }
   

} */