.inputField2 {
    position: absolute;
    top: -6%;
    left: 2%;
}

.input2Label {
    position: absolute;
    top: -9%;
    left: 6%;
    background-color: #fff;
}

@media(max-width: 461px) {
    .input2Label {
        left: 10%;
    }
}
