* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  color: '#00172d'
}


:root {
  --primary: #fff001;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: 1px solid slategrey;
}

ul {
  list-style: none;
}

